<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
    	<div class="alert alert-danger text-center">
			<strong><h2>Halaman Tidak Ditemukan</h2></strong>
		</div>

		<form action="/" method="post">
			<div>
				<button class="btn btn-info" type="submit" name="action" value="save">Kembali</button>
			</div>
		</form>
    </body>
</html>