<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Penduduk</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SI Kependudukan</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Cari Data</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h2>Update Penduduk</h2>
  <form th:action="'/penduduk/ubah/' + ${penduduk.nik}" method="POST" th:object="${penduduk}">
    
    <div class="form-group">
      <label for="nama">Masukkan Nama</label>
      <input type="hidden" name="id" th:value="${penduduk.id}" th:field="*{id}" />
      <input type="text" class="form-control" name="nama" placeholder="Nama" th:value="${penduduk.nama}" th:field="*{nama}"/>
    </div>
    
    <div class="form-group">
      <label for="tempat lahir">Tempat Lahir</label>
      <input type="text" class="form-control" name="tempat_lahir" placeholder="Tempat Lahir" th:value="${penduduk.tempat_lahir}" th:field="*{tempat_lahir}"/>
    </div>
    
    <div class="form-group">
      <label for="tanggal lahir">Tanggal Lahir</label>
      <input type="date" class="form-control" name="tanggal_lahir" placeholder="Tanggal Lahir" th:value="${penduduk.tanggal_lahir}" th:field="*{tanggal_lahir}"/>
    </div>
    
    <div class="form-group">
    <label for="golongan darah" >Golongan Darah:</label>
    <select class="form-control" name="golongan_darah" th:value="${penduduk.golongan_darah == ('Oâˆ’')}" th:field="*{golongan_darah}">
      <option value="AB+" th:selected="${penduduk.golongan_darah.equals('AB+') ? 'selected' : ''}">AB+</option>
      <option value="ABâˆ’" th:selected="${penduduk.golongan_darah == 'ABâˆ’' ? 'selected' : ''}">AB-</option>
      <option value="A+" th:selected="${penduduk.golongan_darah == 'AB' ? 'selected' : ''}">A+</option>
      <option value="Aâˆ’" th:selected="${penduduk.golongan_darah == 'Aâˆ’' ? 'selected' : ''}">A-</option>
      <option value="B+" th:selected="${penduduk.golongan_darah == 'B+' ? 'selected' : ''}">B+</option>
      <option value="Bâˆ’" th:selected="${penduduk.golongan_darah == 'Bâˆ’' ? 'selected' : ''}">B-</option>
      <option value="O+" th:selected="${penduduk.golongan_darah == 'O+' ? 'selected' : ''}">O+</option>
      <option value="Oâˆ’" th:selected="${penduduk.golongan_darah.equals('Oâˆ’') ? 'selected' : ''}">O-</option>
    </select>
    </div>
    
    <div class="form-group">
      <label for="agama">Agama</label>
      <input type="text" class="form-control" name="agama" placeholder="Agama" th:value="${penduduk.agama}" th:field="*{agama}" />
    </div>
    
    <div class="form-group">
    <label for="status perkawinan">Status Perkawinan</label>
    <select class="form-control" name="status_perkawinan" th:value="${penduduk.status_perkawinan}" th:field="*{status_perkawinan}">
      <option value="Kawin" th:selected="${penduduk.status_perkawinan == 'Kawin' ? 'selected' : ''}">Kawin</option>
      <option value="Belum Kawin" th:selected="${penduduk.status_perkawinan == 'Belum Kawin' ? 'selected' : ''}">Belum Kawin</option>
      <option value="Cerai Hidup" th:selected="${penduduk.status_perkawinan == 'Cerai Hidup' ? 'selected' : ''}">Cerai Hidup</option>
      <option value="Cerai Mati" th:selected="${penduduk.status_perkawinan == 'Cerai Mati' ? 'selected' : ''}">Cerai Mati</option>
    </select>
    </div>
    
    <div class="form-group">
      <label for="pekerjan">Pekerjaan</label>
      <input type="text" class="form-control" name="pekerjaan" placeholder="Pekerjaan" th:value="${penduduk.pekerjaan}" th:field="*{pekerjaan}"/>
    </div>
    
    <div class="form-group">
      <label for="kewarganegaraan">Kewarganegaraan</label>
      <select class="form-control" name="is_wni" th:value="${penduduk.is_wni}" th:field="*{is_wni}">
	      <option value="1" th:selected="${penduduk.is_wni == '1' ? 'selected' : ''}">WNI</option>
	      <option value="0" th:selected="${penduduk.is_wni == '0' ? 'selected' : ''}">WNA</option>
	    </select>
    </div>
    
    <div class="form-group">
    <label for="status kematian">Status Kematian</label>
    <select class="form-control" name="is_wafat" th:value="${penduduk.is_wafat}" th:field="*{is_wafat}">
      <option value="0" th:selected="${penduduk.is_wafat == '0' ? 'selected' : ''}">Hidup</option>
      <option value="1" th:selected="${penduduk.is_wafat == '1' ? 'selected' : ''}">Wafat</option>
    </select>
    </div>
    
    <div class="form-group">
      <label for="id keluarga">Id Keluarga</label>
      <input type="text" class="form-control" name="id_keluarga" placeholder="Isi Keluarga" th:value="${penduduk.id_keluarga == '0'}" th:field="*{id_keluarga}"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Simpan</button>
  </form>
</div>
</body>
<footer>
<br/>
</footer>
</html>